<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>列表渲染</title>
  <script src="../../js/vue.js"></script>
</head>
<body>

<div id="con">
  <div id="list">
    <ul>
      <!-- #1. 遍历数组 -->
      <li v-for="(item,index) in people" :key="item.id">
        {{item.name}} - {{item.age}} - {{index}}
      </li>
    </ul>
    <hr/>

    <ul>
      <!-- #2. 遍历对象 -->
      <li v-for="(value, key) in car" :key="key">
        {{value}} - {{key}}
      </li>
    </ul>
    <hr/>
    <!-- #3. 遍历字符串, 遍历数字 略 -->
  </div>
</div>

<script>
  new Vue({
    el: '#con',
    data: {
      people: [
        { id: '001', name: 'john', age: 13 },
        { id: '002', name: 'tod', age: 14 },
        { id: '003', name: 'jan', age: 15 },
      ],
      car: {
        name: 'ccc',
        type: 'xxx',
      },
    },
  })
</script>
</body>
</html>
