<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>列表 key 值作用</title>
  <script src="../../js/vue.js"></script>
</head>
<body>

<div id="con">
  <div id="list">
    <button @click="addErr">错位增加</button>
    <ul>
      <!-- #1. 错位问题, 新的虚拟节点与原先节点 index 相同
               DOM diff 算法不对比 input 内部的值, 只会更新插值部分渲染的值  -->
      <li v-for="(item, index) in errPeople" :key="index">
        {{item.name}} - {{item.age}} - {{index}}
        <input type="text"/>
      </li>
    </ul>
    <hr/>


    <button @click="add">正确增加</button>
    <ul>
      <!-- #2. 原理 key 被 vue 内部维护, 会逐节点比较并复用, key 不会存在冲突, 更新效率高 -->
      <li v-for="(item, index) in people" :key="item.id">
        {{item.name}} - {{item.age}} - {{index}}
        <input type="text"/>
      </li>
    </ul>
    <hr/>
  </div>
</div>

<script>
  new Vue({
    el: '#con',
    data: {
      errPeople: [
        { id: '001', name: 'john', age: 13 },
        { id: '002', name: 'tod', age: 14 },
        { id: '003', name: 'jan', age: 15 },
      ],
      people: [
        { id: '001', name: 'john', age: 13 },
        { id: '002', name: 'tod', age: 14 },
        { id: '003', name: 'jan', age: 15 },
      ],
    },
    methods: {
      addErr () {
        this.errPeople.unshift({ id: '0004', name: 'jame', age: 16 })
      },
      add() {
        this.people.unshift({ id: '0004', name: 'jame', age: 16 })
      },
    },
  })
</script>
</body>
</html>
