<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>计算属性</title>
</head>
<script type="text/javascript" src="../js/vue.js"></script>
<body>

<div id="button_container">
  <h1>{{name}}</h1>
  姓：<input type="text" id="first_name" placeholder="请输入姓" v-model="firstName" />
  名：<input type="text" id="second_name" placeholder="请输入名" v-model="secondName" />
  <br>
<!-- 插值语法, 模板重新解析, 如果变量数值变化会重新生成 DOM -->
<!--  姓名：<span>{{firstName.slice(0, 3)}}-{{secondName.slice(0, 3)}}</span> -->

<!-- 插值语法, 模板重新解析, 一定会调用函数, 存在性能损失 -->
<!--  姓名：<span>{{fullName()}}</span> -->

  <!-- 计算属性语法: 对已存在的属性进行加工 -->
    姓名：<span>{{fullNameComputed}}</span>

</div>
</body>

<script type="text/javascript">
  new Vue({
    el: '#button_container',
    data: {
      name: '计算属性',
      firstName: '',
      secondName: '',
    },
    methods: {
      fullName() {
        return this.firstName + "-" + this.secondName
      }
    },
    computed: {
      // 计算属性一定是 Object
      fullNameComputed: {
        get() {
          // 第一次调用时: 调用并缓存
          // 所依赖的数据改变时: 调用并更新缓存
          console.log("调用了get")
          return this.firstName + '-' + this.secondName // this 指向 vm
        },
        set(value) {
          // 如果修改了 firstName 和 secondName 会同时调用 get 更新
          console.log("调用了set")
        }
      },

      // vue 代理了 computed 下的计算属性的对象
      // Object.defineProperty(vue, 'fullNameComputed', {
      //   get() {
      //     return computed.fullNameComputed.get()
      //   },
      //   set(value) {
      //     computed.fullNameComputed.set(value)
      //   },
      // });
    },
  });
</script>
</html>
