<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>计算属性</title>
</head>
<script type="text/javascript" src="../js/vue.js"></script>
<body>

<div id="button_container">
  <h1>{{name}}</h1>
  姓：<input type="text" id="first_name" placeholder="请输入姓" v-model="firstName" />
  名：<input type="text" id="second_name" placeholder="请输入名" v-model="secondName" />
  <br>
<!-- 插值语法, 模板重新解析, 如果变量数值变化会重新生成 DOM -->
<!--  姓名：<span>{{firstName.slice(0, 3)}}-{{secondName.slice(0, 3)}}</span> -->

<!-- 插值语法, 模板重新解析, 一定会调用函数-->
<!--  姓名：<span>{{fullName()}}</span> -->

  <!-- 计算语法 -->
    姓名1：<span>{{fullNameComputed}}</span>
    姓名2：<span>{{fullNameComputed}}</span>

</div>
</body>

<script type="text/javascript">
  new Vue({
    el: '#button_container',
    data: {
      name: '计算属性',
      firstName: '',
      secondName: '',
    },
    methods: {
      fullName() {
        return this.firstName + "-" + this.secondName
      }
    },
    computed: {
      // vue 代理了 computed 下的计算属性对象
      // Object.defineProperty(vue, 'fullNameComputed', {
      //   get() {
      //     return computed.fullNameComputed
      //   },
      //   set(value) {
      //     computed.fullNameComputed = value
      //   },
      // });

      fullNameComputed: {
        get() {
          // 第一次调用时: 调用并缓存
          // 所依赖的数据改变时: 调用并更新缓存
          return this.firstName + '-' + this.secondName; // this 指向 vm
        },
      },
    },
  });
</script>
</html>
