<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a { display: block; }
    </style>
</head>
<body>
<h1>hello world!</h1>

<a th:href="@{/nest/target1}"> 嵌套路由测试 </a>
<a th:href="@{/nest/target2}"> 路由组测试 </a>
<hr>

<a th:href="@{/method/get}"> Get 测试 </a>
<!-- #1. form method=delete/put 会 转化成 get -->
<form th:action="@{/method/post}" method="post">
    <input type="submit" value="Post 测试"/>
</form>
<a th:href="@{/method/getByGetMapping}"> GetMapping 测试 </a>
<hr>

<!-- #2. get 传参 -->
<a th:href="@{/method/getByGetMapping(id=1, password=99999)}"> Param 匹配测试 </a>
<hr>

<!-- #3. path 传参 -->
<a th:href="@{/path/1/222}"> Path 匹配测试 </a>
</body>
</html>